@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff;
  --color-solid-heading: #42446E;
  --color-content: #666666;
  --color-green: #018C0F;
  --color-success: #D7FFE0;
  --gradient-linear: linear-gradient(to right, #13B0F5 3%, #E70FAA 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #191919;
    --color-solid-heading: #CCCCCC;
    --color-content: #A7A7A7;
  }
}

.text-gradient {
  background: var(--gradient-linear);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}